<div class="container"> 
    <div> 
      <h2>Modifier une Montre :</h2>              
    </div> 
         <form >          
             <div  class="col-sm-2 col-md-2 col-lg-2"> 
               <label >ID  Montre</label> 
               <input  readonly type="text"  [(ngModel)]="currentMontre.idMontre" 
 
                   name="idMontre" class="form-control"> 
              </div> 
          
             <div class="col-sm-4 col-md-4 col-lg-4" > 
               <label >Nom Montre</label> 
               <input  type="text"[(ngModel)]= "currentMontre.nomMontre"   
                   name="nomMontre" class="form-control"> 
             </div> 

             <div class="col-sm-2 col-md-2 col-lg-2"> 
               <label >Prix Montre</label> 
           <input type="number"   [(ngModel)]= "currentMontre.prixMontre" 
 
                   name="prixMontre" class="form-control"> 
             </div> 

             <div class="col-sm-4 col-md-4 col-lg-4"> 
                <label >Date création</label> 
                <input  type="date"  [ngModel]="currentMontre.dateCreation | date: 'yyyy-MM-dd'"  (ngModelChange)=" currentMontre.dateCreation= $event"   name="dateCreation"  
                class="form-control"> 
                         </div> 



              <div class="col-sm-4 col-md-4 col-lg-4"> 
                <label >Genre</label> 

                          <select class="form-control form-control-lg" id="idGen" name="idGen" [(ngModel)]="updateGenId">         
                          <option *ngFor="let gen of genres" [value]="gen.idGen" >    
                          {{gen.nomGen}} 
                          </option> 
                          </select>                      
                          </div>  

                          <div class="card shadow mb-4">
                            <div class="card-body">
                            <table class="table table-striped">
                            <thead>
                            <tr> <th>Images</th> </tr>
                            </thead>
                            <tbody *ngFor="let img of currentMontre.images">
                              <tr>
                              <td><img class="card-img-top img-responsive"
                              src = "{{'data:' + img.type + ';base64,' + img.image}}"
                              style = "height :50px;width:100px"></td>
                              <td style="width:20%" ><a class="btn btn-danger"
                                (click)="supprimerImage(img)">Supprimer</a></td>
                              </tr>
                              </tbody>
                              </table>
                              </div>
                              </div>

                              <div class="col-sm-16 col-md-16 col-lg-16">
                                <img [src]="myImage" class="card-img-top img-fluid rounded-start"
                                style="width: 500px; height: 300px" />
                                </div>
                                <div class="col-sm-16 col-md-16 col-lg-16">
                                  <label class="mb-2">Image :</label>
                                  <input type="file" (change)="onImageUpload($event)" class="form-control">
                                  </div>
                                  <div class="mt-2">
                                    <button type="submit" (click)="onAddImageMontre()" class="btn
                                    btn-success">Ajouter Image</button>
                                    </div>


                          
                          <div class="mt-2"> 
           <button type="submit"  (click)="updateMontre()" class="btn btn-success">Modifer</button> 
                          </div>   
                     </form> 
           </div>   