<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped" >
    <thead>
        <tr> <th>Id</th><th>Nom</th> <th>Prix</th> <th>Date Création</th><th>Genre</th>  </tr>

    <tr>
    <th>Liste de Montres</th>
    </tr>
    </thead>
    <tbody *ngFor="let montre of montres">
    <tr >
        <td>{{montre.idMontre}}</td>
        <td>{{montre.nomMontre}}</td>
        <td>{{montre.prixMontre}}</td>
        <td>{{montre.dateCreation | date:'dd/MM/yyyy'}}</td>
<!--         <td>{{montre.genre?.nomGen}}</td> 
 -->   
        <td><a   *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerMontre(montre)">Supprimer</a></td>
        <td><a *ngIf="authService.isAdmin()"  class="btn btn-success" [routerLink]="['/updateMontre',montre.idMontre]">Modifier</a></td> 



    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>